main.about {
    //display: block;
    display: flex;
    flex-direction: column;
    @media only screen and (min-width: $breakpoint-tablet) {
        flex-direction: row;
    }

    img {
        margin-bottom: 1rem;
        align-self: center;
        @media only screen and (min-width: $breakpoint-mobile) {
            margin-right: 1rem;
            margin-bottom: 1rem;
        }
    }


}